.section-carrito {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    overflow: scroll;
    top:7%;
    left: 15%;
    right: 15%;
    bottom:7%;
    box-shadow: .3em .3em 10em .3em rgb(26, 3, 63)/* rgba(0,0,0,1) */;

    &--visible {
        display: block;
    }

    td,th,table {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }

    th{
        background-color: $colorSecundario;
    }
    table {
        width: 60vw;
        margin-top: 2%;  
        margin-bottom: 2%;  
        margin-right: 5%;  
        margin-left: 5%;  
    }
    .btn__cerrarCarrito {
     /*    margin-right: 0; */
        margin-left: 95%;
        font-size: 30px;
        background-color: white;
        border: none;
        padding: 5px;
       /*  margin: 5px; */

        &:hover {
            color: crimson;
        }
    }
    .btn__enviarCarrito  {
        font-size: 30px;
        background-color: $colorTipografia;
        color: white;
        padding: 10px;
        border-radius: 50px;
        margin: 5px;
        cursor: pointer;
        margin-left: 80%;

        &:hover {
            background-color: $colorSecundario;
            color: $colorTipografia;
            font-weight: 700;
        }
    }

    .btn__borrarDelCarrito {
        background-color: white;
        border: none;
        cursor: pointer;
        width: 40px;

        & img{
            margin: 5px;
            width: 30px;

            &:hover{
                width: 32px;
            }
        }

    }

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: white;
        color: $colorTipografia;
        margin-top: 5%;
    }

    .carrito-img{
        width: 30%;
        margin-left: 38%;
        margin-top: 5%;
        
    }
    @media (max-width: 768px) {  
        
        top:7%;
        bottom:auto;
        left: 1%;
        right: 1%;
       
        td,th,table {
            padding: 1px;
            font-size: 13px;
        }

        table {
            width: 95vw;
            margin-right: 2%;  
            margin-left: 2%;  
        }

        .btn__enviarCarrito  {
            margin-left: 70%;
            font-size: 20px

        }
            
        .btn__borrarDelCarrito {
            & img{
                margin: 7px;
                width: 30px;
            }
        }

        h2 {

            font-size: 25px;
            margin-top: 3%;
        }
    
        .carrito-img{
            width: 25%;
            margin-left: 40%;
            margin-top: 2%;
            
        }

    }
}