$colorBase: white;
$colorTipografia: black;
$colorPrimario: #D074FF;
$colorSecundario:#AD5ED6;
$colorTerciario: #ED93EC;
$colorCuaternario: #F8D5F8;

/* $colorBase: white;          (blanco)
$colorTipografia: black;       (negro)
$colorPrimario: #D074FF;       (lila)
$colorSecundario:#AD5ED6;      (violeta)
$colorTerciario: #ED93EC;      (rosa)
$colorCuaternario: #F8D5F8;    (rosa claro) */