.section-cards {
    background-color: $colorBase;


    &__header h1{
        font-size: 70px;
        color: $colorTipografia ;
        background-color: $colorCuaternario;
        letter-spacing: 5px;
        text-shadow:0 0 10px $colorSecundario;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 3%;
    }

    &__header p{
        padding: 10px;
        font-size: 30px;
        background-color: $colorCuaternario;
        margin: 0;
    }

    @media (max-width: 768px) {
        &__header h1{
           font-size: 40px;
           height: 20vh;
           letter-spacing: 0;
        }
    
        &__header p{
            font-size: 22px;
        }
    }
     

}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    background-color: $colorBase;
    padding: 2em;

    @media (min-width: 1200px) {
        & {
            gap: 2em
        }
    }
}